@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans Regular'), local('FiraSans-Regular'),
    url('fonts/FiraSans-Regular.woff2') format('woff2'),
    url('fonts/FiraSans-Regular.woff') format('woff'),
    url('fonts/FiraSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans Bold'), local('Fira-Sans-Bold'),
    url('fonts/FiraSans-Bold.woff2') format('woff2'),
    url('fonts/FiraSans-Bold.woff') format('woff'),
    url('fonts/FiraSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'AKONY';
  src: local('AKONY'), local('AKONY'),
    url('fonts/AKONY.woff2') format('woff2'),
    url('fonts/AKONY.woff') format('woff'),
    url('fonts/AKONY.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

html,
body {
  min-width: 100vw;
  overflow-x: hidden;
  /* width: 100vw; */
}

body {
  /* min-height: 100vh; */
  background-color: #101114;
  /* background-color: #2A2A2A; */
  color: white;
  line-height: 1.6;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@media screen and (max-width: 1024px) {
  body {
    font-size: 14px;
  }
}


@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }
}