@import './base.css';

.wrapper {
  max-width: 1280px;
  width: 75%;
  margin: 0 auto;
}


@media screen and (max-width: 1024px) {
  .wrapper {
    width: 85%;
  }

}


@media screen and (max-width: 768px) {
  .wrapper {
    width: 95%;
  }

}

section {
  margin-top: 12.5rem !important;
}


.title {
  font-family: 'AKONY';
  margin-bottom: 1.5rem;
  font-size: 2.25em;
  line-height: 1;
}

.outline {

  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: transparent;
  font-size: 1.5em;
}